#main {
  width: 80%;
  height: auto;
  border: 1px solid black;
}

body,
#main,
figure,
#tribute-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
  max-width: 1024px;
}
